/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 2rem;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.propic {
  max-width: 20%;
  height: auto;
  border-radius: 100%;
  padding: 2rem;
}

.intro {
  font-size: 18px;
  padding: 2rem;
  overflow: hidden;
}

.introBox {
  align-items: top;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

